
#idMainContainer {
    display: grid;
    grid-template-columns: minmax(375px, 500px) auto;
}

#idManagerPanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    gap: 15px 15px;
    text-align: left;
    padding: 0 0 0 30px;
    height: 654px;
}

.hidden {
    visibility: hidden;
}

.managerHeading {
    grid-column-start: span 2;
    margin-top: 30px;
}

.mapHeading {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;
    margin: 30px 0 15px 100px;
}

.city-form > * > * {
    margin: 5px 10px 0px 0px;
    justify-content: stretch;
}

.city-form > * > * > * {
    margin: 5px 10px 0px 10px;
    width: 100px;
}


#idCreateCityMessage {
    color: rgb(214, 6, 6);
    width: auto;
}

#idFetchError{
    color: rgb(214, 6, 6);
}

#idMapPanel {
    display: grid;
    /* grid-template-columns: 1fr 4fr; */
    grid-template-columns: minmax(375px, 500px) auto;
    grid-template-rows: 1fr 1fr 4fr;
    height: 654px;
    text-align: left;
    padding: 0 10px 0 10px;
}

.map{
    background-image: url('C:\code\cohort3\react-02\src\images\Alberta.png'); /* created from GOA opendata */
    opacity: 0.75;
    width: 330px;
    height: 550px;
    /* margin: auto; */
}

.city-point:hover {
    cursor: pointer;
}

.city-selected {
    stroke: rgb(0, 128, 255);
    stroke-width: 3;
}

#idSelectedCity{
    margin: 0px;
}

#idCityTools  * {
    margin: 2px;
}

#idPopChange {
    width: 100px;
}

#idDelete {
    border-color: red;
    border-width: medium;
}

#idCityMessage{
    color: rgb(0, 128, 255);
}
