body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.title-section {
    text-align: center;
    padding: 20px;
}


#idGridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#idSummaryPanel {
    background-color: #7D99FE;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    gap: 15px 15px;
    text-align: left;
    padding: 10px 50px;
    height: 750px;
}

.hidden {
    visibility: hidden;
}

.subheading {
    grid-column-start: span 2;
}

.subheading2 {
    text-align: center;
}


.form > * > *{
    margin: 5px 10px 0px 0px;
    width: 100px;
    justify-content: space-between;

}

/* #idAccountList {
    list-style-type: none;
   
} */

.list-section {
grid-row-start: span 2;
}


#idCityMessage {
    color: rgb(214, 6, 6);
}


#idMapPanel {
    /* background-color: #DDE4FF; */
    height: 750px;
    text-align: center;
    padding: 10px;
}


.map{
    background-image: url('./images/Alberta.png'); /* created from GOA opendata */
    opacity: 0.75;
    width: 330px;
    height: 550px;
    margin: auto;
}



